<!DOCTYPE html>
<html>
  <head>
    <title>KP-Skills</title>
    <meta name="description" content="Un modeste cabinet de recrutement lyonnais par approche directe.">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media:"all" %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="p-0 m-0 min-w-full">
    <%= yield %>
  </body>
</html>
